<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/aboutStyles.css">
    <title>About</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a class="navItems" href="/home">Home</li></a>
                <li><a class="navItems" href="/about"><span class="ylw">About</span></li></a>
                <li><a class="navItems" href="/hightlights">Hightlights</li></a>
            </ul>
        </nav>
    </header>

    <section class="whoIsNey">
        <div class="who">
            <h2>WHO IS NEYMAR?</h2>
            <div class="text">
                <p class="himLeft">
                    Neymar is a Brazilian football player, considered one of the greatest in history. his career began as a child,
                    where at just 11 years old he signed his first contract to play for Santos Futebol Clube.
                    At the age of 18 he played his first professional game for Santos, where he remained until he was 21 years old.
                    At the age of 21 Neymar had already won all the trophies possible in South America, his next destination was already clear at this point,
                    Europe, more specifically Barcelona.He was at Barcelona FC for 4 years, where he played great games and again, he won all the titles possible in Europe.
                </p>

                   <p class="himRight"> 
                    But Neymar wanted more, despite being among the three main players of the team,
                    he wanted to compete among the best and that would never be possible playing in Lionel Messi's team.
                    PSG his €222 million breach-of-contract fine and sent him to Paris.
                    From there, came a not so great phase of his career due to injuries.
                    The shirt number 10 of the Brazilian team remains to this day at PSG where he has won numerous titles,
                    but the most important thing is still missing,
                    the much-desired Champions League and will seek the 2022 Qatar World Cup trophy.
                </p>
            </div>
        </div>
    </section>



    <section class="playersAbout">
        <div class="aboutHim">
            <p class="opinions">
            “I think that with his quality and fitness, Neymar will become the best in the world.”
            <br> - Lionel Messi.
        </p>
        </div>

        <div class="aboutHim">
            <p class="opinions">
            “He hasn't just shown his quality but he has shown it in the big games
            like against Real Madrid – and that is where the big players really prove themselves."
            <br> - Xavi Hernandes.
        </p>
            </div>

        <div class="aboutHim">
            <p class="opinions">
                “He is a bit like me. He had some difficulties in getting used to his new environment at first,
                but I knew that he was going to succeed.”
                <br> - Cristiano Ronaldo.</p>
        </div>
        
        <div class="aboutHim">
            <p class="opinions">“Neymar is a phenomenon. It’s nice to see a Brazilian continuing 
            to make history and I think he can be the greatest in the world.”
            <br>- Ronaldinho.
        </p>
        </div>
    </section>
    
</body>
</html>