<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/highlights.css">

    <title>Highlights</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a class="navItems" href="/home">Home</li></a>
                <li><a class="navItems" href="/about">About</li></a>
                <li><a class="navItems" href="/hightlights"><span class="ylw">Highlights</span></li></a>
            </ul>
        </nav>
    </header>

    <section>
        <div class="scrolldown">
            <h3>Scroll Down</h3>
            <img src="/images/scrolldown.gif" alt="" class="scroll">
        </div>
        <img src="/images/skill1.gif" alt="">
        <img src="/images/skill2.gif" alt="">
        <img src="/images/skill3.gif" alt="">
        <img src="/images/skill4.gif" alt="">
        <img src="/images/skill5.gif" alt="">
        <img src="/images/skill6.gif" alt="">
        <img src="/images/skill7.gif" alt="">
        <img src="/images/skill8.gif" alt="">
        <img src="/images/skill9.gif" alt="">
        <img src="/images/skill10.gif" alt="">
        <img src="/images/skill11.gif" alt="">
        <img src="/images/skill12.gif" alt="">
        <img src="/images/skill13.gif" alt="">
        <img src="/images/skill14.gif" alt="">
        <img src="/images/skill15.gif" alt="">
        <img src="/images/skill16.gif" alt="">
        <img src="/images/skill17.gif" alt="">
        <img src="/images/skill18.gif" alt="">
    </section>

</body>
</html>