<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/homeStyles.css">
    <title>Young Ney</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a class="navItems" href="/home"><span class="ylw">Home</span></li></a>
                <li><a class="navItems" href="/about">About</li></a>
                <li><a class="navItems" href="/hightlights">Hightlights</li></a>
            </ul>
        </nav>
        <section class="bg"></section>
    </header>

    
    <h3>Numbers speak for themselves</h3>

    <section class="details">
        
        <div class="laLiga"></div>
        <div class="ligueOne"></div>
        <div class="champions"></div>
    </section>
    
    <section class="statistics">
        <div class="laLigaStatistics">
            <ol>
                <li class="sts">Apparence: 123</li>
                <li class="sts">Goals: 68</li>
                <li class="sts">Assists: 49</li>
            </ol>
        </div>
        <div class="ligueOneStatistics">
            <ol>
                <li class="sts">Apparence: 104</li>
                <li class="sts">Goals: 79</li>
                <li class="sts">Assists: 47</li>
            </ol>
        </div>
        <div class="championsStatistics">
            <ol>
                <li class="sts">Apparence: 81</li>
                <li class="sts">Goals: 43</li>
                <li class="sts">Assists: 36</li>
            </ol>
        </div>
    </section>


</body>
</html>